<form action= "http://localhost:3000/cats" method = "post">
  <fieldset>
  <p><label for="cat_name">name</label>
    <input type="text" name = "cat[name]" id = "cat_name"><br \></p>
  <p><label for="cat_age">age</label>
    <input type="text" name = "cat[age]" id = "cat_age"><br \></p>
  <p><label for="cat_birth_date">birth date</label>
    <input type="date" name = "cat[birth_date]" id = "cat_birth_date"><br \></p>
  <p><label for="cat_color">color</label>
    <input type="text" name = "cat[color]" id = "cat_color"><br \></p>
  <p><label for="cat_neighborhood">neighborhood</label>
    <input type="text" name = "cat[neighborhood]" id = "cat_neighborhood"><br \></p>
  <p><label for="cat_sex">sex</label>
    <input type="text" name = "cat[sex]" id = "cat_sex"><br \></p>

  <p><input type="submit" value = "Make CAT"></p>
  </fieldset>
</form>